asyncpg==0.30.0
fastapi==0.118.0
GeoAlchemy2==0.18.0
geopandas==1.1.1
gunicorn==23.0.0
langchain==0.3.27
langchain-community==0.3.30
pgvector==0.4.1
psycopg2-binary==2.9.10
pyarrow==21.0.0
pydantic==2.11.10
pyproj==3.7.2
PyYAML==6.0.3
sentence-transformers==5.1.1
shapely==2.1.2
SQLAlchemy==2.0.43
torch==2.8.0 -f https://download.pytorch.org/whl/cpu/torch_stable.html
uvicorn==0.37.0
