fastapi==0.118.0
GeoAlchemy2==0.18.0
geopandas==1.1.1
gunicorn==23.0.0
langchain==0.3.27
langchain-community==0.3.30
langchain-huggingface==0.3.1
pgvector==0.4.1
psycopg[binary,pool]==3.2.10
pyarrow==21.0.0
pydantic==2.11.9
pyproj==3.7.2
PyYAML==6.0.3
shapely==2.1.2
SQLAlchemy==2.0.43
uvicorn==0.37.0
